@import "tailwindcss";

:root {
  --green: #1D371E;
  --cream: #F3ECD9;
  --cream-light: #FFFAF1;
  --cream-dark: #EFE6CD;
}

body {
  background-color: var(--cream);
  color: var(--green);
  font-family: Georgia, 'Times New Roman', serif;
}
